#facts {
    transition: all 0.5s;
    max-height: 1080px;
}

body {
    background-color: #6f6f6f;
    border-radius: 30px;
    margin: 5%;
}

#facts.pre-animation {
    opacity: 0;
    max-height: 0;
}

.fact-container {
    margin: 1%;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
}

.fact-container_header {
    height: 50px;
    background-color: rgba(255, 73, 210, 0.2);
    background-image: url("kitten_face.png");
}

.fact-container_body {
    background-color: bisque;
    padding: 20px;
}